<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

<div class="container" id='sign-up-form'>
  <% if current_user %>
    <%= current_user.email %>
    <a href="/user_log_out_route/sign_out" class="btn btn-block btn-social">Log out</a>
  <% else %>
    <%= form_for(User.new, :url => new_user_registration_path, :class => 'form-horizontal') do |f| %>
      <div class="form-group">
        <%= f.label :name , :class => "col-sm-2 control-label"%>
        <div class="col-sm-10">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, :class => "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.email_field :email, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, :class => "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>
      <hr>
      <div class="form-group" style='padding:2%;'>
        <br>
        <br>
        <br>
        <br>
        <%= f.submit 'Sign up' , class: 'btn btn-lg btn-primary' %>
        <a href="/users/auth/facebook" class="btn btn-lg btn-primary" style="width:30%;color:white"><i class="fa fa-facebook"></i>Facebook</a>
      </div>
    <% end %>

  <% end %>
</div>